/*Name this external file gallery.css*/
body{
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
}

h1{
    text-align: center;
}
#image{
line-height:40rem;
    width: 30%;
    height: 60%;
    border:5px solid black;
    margin:0 auto;
background-color: #8e68ff;
background-image: url('');
background-repeat: no-repeat;
color:#fffefe;
text-shadow: 1px 1px 2px rgb(151, 151, 151), 0 0 1em rgb(19, 19, 51), 
0 0 0.2em rgb(98, 98, 156);
text-align: center;
background-size: 100%;
margin-bottom:25px;
font-size: 150%;
}

#centre-images {
    text-align: center;
}

.preview{
    height: 100px;
    width:auto;
    margin-left:0 auto;
border: 5px solid black;
}

img{
    width:95%;
}